:root {
  --primary-color: #1c47a2;
  --secondary-color: #a21c8a;
  --support-color: #f1e6ab;
  --gray-color: #bfc0c1;
  --dark-color: #050505;
  --light-color: #fffefd;
}

.Footer {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  height: 40px;
}

.copyright p {
  text-align: center;
}
