:root {
  --primary-color: #1c47a2;
  --secondary-color: #a21c8a;
  --support-color: #f1e6ab;
  --gray-color: #bfc0c1;
  --dark-color: #050505;
  --light-color: #fffefd;
}

.PostItem {
  border: 1px solid var(--gray-color);
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0 1px 1px rgba(183, 184, 180, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PostItem-user {
  display: flex;
  flex-direction: row;
}

.PostItem-user a {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.PostItem-user img {
  width: 10%;
  padding: 0 0.4rem 0.2rem 0;
}

.PostItem-img img {
  display: block;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0;
  width: 100%;
  height: auto;
  margin: auto;
}

.PostItem-content {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
}

.PostItem-content p {
  padding: 0.4rem 0 0 0.4rem;
}

.PostItem-content .hashtag {
  color: var(--primary-color);
}

.PostItem-content .date {
  color: var(--gray-color);
}

.likes {
  padding: 0.4rem 0 0 0.4rem;
}

.likes-btn button {
  border: none;
  background: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: var(--gray-color);
}

.likes-btn button:hover {
  cursor: pointer;
}
