:root {
  --primary-color: #1c47a2;
  --secondary-color: ##a21c8a;
  --support-color: #f1e6ab;
  --gray-color: #bfc0c1;
  --dark-color: #050505;
  --light-color: #fffefd;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-color);
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--light-color);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.Navbar ul {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 5px;
  margin: 10px;
}

.Navbar a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 2rem;
}

.Navbar a:hover {
  color: var(--gray-color);
}
